@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: inherit;
}

::-moz-placeholder {
  font-family: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
}

::-ms-input-placeholder {
  font-family: inherit;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  height: 40px;
  padding: 0 5px;
}

.header-block {
  text-align: center;
}

.header-block__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 250;
  font-size: 32px;
  line-height: 150%;
  color: inherit;
}

.header-block__anth-lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-top: 35px;
  margin-top: 35px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.header-block__anth-lang::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 272px;
  height: 2px;
  background-color: #00ADEF;
}

.details-info {
  max-width: 403px;
  padding-bottom: 28px;
  position: relative;
}

.details-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #00ADEF;
}

.details-info__btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 1px;
  width: 0;
  background-color: #00ADEF;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.details-info__btn::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  background-color: #00ADEF;
}

.details-info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #00ADEF;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

._logo {
  fill: #fff;
  height: 26px;
}

._icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

._decor {
  width: 80px;
  height: 80px;
  fill: #000;
}

._decor:nth-child(2) {
  stroke: #000;
}

._safety {
  position: absolute;
  top: 24px;
  right: 32px;
  width: 32px;
  height: 28px;
}

._start {
  width: 160px;
  height: 200px;
}

._sml-txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
}

._start-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 24px;
  margin: 0px 15px 0px 0px;
}

._deco-1,
._deco-2 {
  position: absolute;
  z-index: 101;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

._deco-1 {
  left: 0;
}

._deco-1 span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #000;
  position: relative;
}

._deco-1 span::before,
._deco-1 span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

._deco-1 span::before {
  bottom: 160px;
}

._deco-1 span::after {
  top: 160px;
}

._deco-2 {
  right: 40px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (160px)[3];
  grid-template-rows: repeat(3, 160px);
}

._deco-2::before,
._deco-2::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 88px;
  width: 1px;
  background-color: #000;
}

._deco-2::before {
  top: -120px;
}

._deco-2::after {
  bottom: -120px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;
}

.header__inner {
  height: 160px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  -ms-grid-columns: minmax(60px, 160px) 1fr minmax(60px, 160px);
  grid-template-columns: minmax(60px, 160px) 1fr minmax(60px, 160px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.header__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

.header__icon,
.intro__btn {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header__icon span,
.intro__btn span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.header__icon span:first-child,
.intro__btn span:first-child {
  top: 0;
}

.header__icon span:nth-child(2),
.intro__btn span:nth-child(2) {
  width: 16px;
}

.header__icon span:last-child,
.intro__btn span:last-child {
  top: auto;
  bottom: 0;
}

.header__icon._active span,
._active.intro__btn span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__icon._active span:first-child,
._active.intro__btn span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.header__icon._active span:last-child,
._active.intro__btn span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.intro {
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../img/intro/bg.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom 80px right 80px;
  background-size: cover;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.intro__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 5;
}

.intro__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 560px;
  padding-bottom: 80px;
  padding-left: 80px;
  color: #fff;
}

.intro__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
}

.intro__title:not(:last-child) {
  margin: 0px 0px 0.390625em 0px;
}

.intro__subtitle {
  font-weight: 100;
  font-size: 32px;
  line-height: 150%;
}

.intro__bottom {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 150px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__bottom::before,
.intro__bottom::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 88px;
  width: 1px;
  background-color: #fff;
}

.intro__bottom::before {
  bottom: 50px;
}

.intro__bottom::after {
  top: 50px;
}

.intro__btn span {
  height: 1px;
}

.intro__btn span:first-child {
  top: -1px;
}

.intro__btn span:nth-child(2) {
  width: 100%;
}

.intro ._deco-1,
.intro ._deco-2 {
  top: calc(50% + 40px);
}

.intro ._deco-1 span {
  background-color: #fff;
  width: 160px;
}

.intro ._deco-2::before,
.intro ._deco-2::after {
  background-color: #fff;
}

.intro ._deco-2 svg {
  fill: #fff;
}

.intro ._deco-2 svg:nth-child(2) {
  stroke: #fff;
}

.benefits {
  padding-top: 160px;
  padding-bottom: 360px;
  position: relative;
}

.benefits__top {
  margin-bottom: 180px;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 40px;
}

.benefits__bottom {
  margin-top: 115px;
}

.benefits ._deco-1 span {
  width: 80px;
  height: 80px;
  background-color: #000;
}

.benefits ._deco-1 span::before,
.benefits ._deco-1 span::after {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.benefits ._deco-2::before,
.benefits ._deco-2::after {
  background-color: #000;
}

.benefits ._deco-2 ._decor {
  fill: #000;
}

.benefits ._deco-2 ._decor:nth-child(2) {
  stroke: #000;
}

.top-benefits {
  text-align: center;
}

.top-benefits__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 250;
  font-size: 32px;
  line-height: 150%;
  color: inherit;
}

.top-benefits__anth-lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-top: 35px;
  margin-top: 35px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.top-benefits__anth-lang::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 272px;
  height: 2px;
  background-color: #00ADEF;
}

.item-benefits__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: inherit;
}

.item-benefits__title:not(:last-child) {
  margin: 0px 0px 0.8em 0px;
}

.item-benefits__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: rgba(0, 0, 0, 0.5);
}

.old-man {
  background-color: #D1D3D4;
}

.old-man__body {
  height: 872px;
  background-color: #141414;
  -webkit-box-shadow: 0px 90px 80px -40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 90px 80px -40px rgba(0, 0, 0, 0.5);
  background-image: url(../img/old-man/old-man.png);
  background-repeat: no-repeat;
  background-position-x: 80px, left;
  background-size: cover;
  position: relative;
  right: 80px;
  bottom: 80px;
}

.old-man__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 560px;
  margin: 0px 80px 0px auto;
  color: #fff;
}

.old-man__title {
  font-weight: 100;
  font-size: 32px;
  line-height: 150%;
}

.old-man__title:not(:last-child) {
  margin: 0px 0px 1.78125em 0px;
}

.old-man__text {
  font-size: 16px;
  line-height: 175%;
}

.old-man__text:not(:last-child) {
  margin-bottom: 40px;
}

.old-man__text p:not(:last-child) {
  margin-bottom: 30px;
}

.old-man__author {
  font-weight: 100;
  font-size: 16px;
  line-height: 175%;
  position: relative;
}

.old-man__author::after {
  content: "";
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  width: 160px;
  height: 134px;
  background-image: url(../img/old-man/signature.svg);
}

.old-man__author:not(:last-child) {
  margin-bottom: 80px;
}

.old-man__author p:first-child {
  font-weight: 700;
}

.old-man ._deco-1 {
  left: 80px;
}

.old-man ._deco-1 span {
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.old-man ._deco-2 {
  right: -40px;
}

.old-man ._deco-2::before,
.old-man ._deco-2::after {
  display: none;
}

.old-man ._deco-2 svg {
  fill: #fff;
}

.old-man ._deco-2 svg:nth-child(2) {
  stroke: #fff;
}

.home {
  padding-top: 160px;
  padding-bottom: 250px;
  position: relative;
}

.home__top {
  margin-bottom: 165px;
}

.home__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}

.home__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.home__list-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: inherit;
}

.home__list-text::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 13px;
  background-image: url(../img/home/arrow.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0px 30px 0px 0px;
}

.home__details {
  margin-top: 100px;
}

.home ._deco-1 span {
  width: 80px;
  height: 80px;
  background-color: #000;
}

.home ._deco-2::before,
.home ._deco-2::after {
  background-color: #000;
}

.home ._deco-2 svg {
  fill: #000;
}

.home ._deco-2 svg:nth-child(2) {
  stroke: #000;
}

.safety {
  padding-bottom: 200px;
  position: relative;
}

.safety__inner {
  position: relative;
}

.safety__inner::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  width: 420px;
  height: 750px;
  background-image: url(../img/safety/phone.png);
  background-repeat: no-repeat;
}

.safety__top {
  max-width: 560px;
  margin-bottom: 100px;
}

.safety__top-title {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  margin-right: 0;
}

.safety__items {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (minmax(240px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.safety__item {
  background-color: #00ADEF;
  padding: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.safety__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
}

.safety__details {
  max-width: 480px;
  margin-top: 80px;
}

.start {
  padding-bottom: 160px;
}

.start__header {
  position: relative;
  background-color: #000;
  padding-top: 180px;
  padding-bottom: 360px;
}

.start__bottom {
  margin-top: -160px;
  background-color: #fff;
}

.start__top-title {
  color: #fff;
}

.start__top-anth-lang {
  color: rgba(255, 255, 255, 0.2);
}

.start__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  row-gap: 40px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.start__picture {
  position: relative;
}

.start__image {
  display: block;
  padding: 0px 0px 99% 0px;
  position: relative;
}

.start__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.start__image::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.start__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start__list {
  margin-top: 35px;
}

.start__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.start__list-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.5);
}

.start ._deco-1 span {
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.news {
  position: relative;
}

.news__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.news__item:nth-child(6) {
  position: relative;
}

.news__item:nth-child(6) .news__picture::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.news__item:nth-child(6) .news__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: initial;
}

.news__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.news__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 140%;
  color: inherit;
}

.news__title:not(:last-child) {
  margin: 0px 0px 1.4em 0px;
}

.news__subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: inherit;
}

.news__subtitle:not(:last-child) {
  margin-bottom: 40px;
}

.news__details {
  width: 240px;
}

.news__btn {
  min-width: 240px;
  color: #fff;
  background-color: #000;
}

.news__picture {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 0px 0px 100% 0px;
}

.news__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__top:not(:last-child) {
  margin-bottom: 40px;
}

.news__date {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: rgba(0, 0, 0, 0.5);
}

.news__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  max-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__content .news__subtitle,
.news__content .news__date {
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  position: relative;
}

.footer__container {
  color: #fff;
}

.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-link svg {
  width: 180px;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer__top:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.footer__mail:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.footer__tel {
  display: block;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-item {
  padding: 5px 0;
  margin: 0px 10px 0px 0px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

.footer__copy {
  display: inline-block;
}

.footer__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  background-color: #282828;
}

.footer ._decor {
  width: 120px;
  height: 115px;
  fill: #fff;
}

.footer ._decor:nth-child(2) {
  stroke: #fff;
}

.footer ._deco-2 {
  right: 90px;
  -ms-grid-rows: (200px)[3];
  grid-template-rows: repeat(3, 200px);
}

.footer ._deco-2::before,
.footer ._deco-2::after {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }

  .header-block__title {
    margin: 0px 80px 0px 0px;
  }

  .header-block__anth-lang::before {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2px;
    height: 272px;
  }

  .header-block__anth-lang {
    padding: 0px 0px 0px 70px;
    margin-top: 0;
  }

  .details-info:hover::after {
    width: 0;
  }

  .details-info:hover .details-info__btn::before {
    width: 100%;
  }

  ._icon:hover {
    fill: blue;
  }

  .intro::before {
    background-attachment: fixed;
  }

  .top-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }

  .top-benefits__title {
    margin: 0px 80px 0px 0px;
  }

  .top-benefits__anth-lang::before {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2px;
    height: 272px;
  }

  .top-benefits__anth-lang {
    padding: 0px 0px 0px 70px;
    margin-top: 0;
  }
}

@media (max-width: 1380px) {
  .safety ._deco-1,
  .safety ._deco-2 {
    display: none;
  }
}

@media (max-width: 1350px) {
  .benefits ._deco-1,
  .benefits ._deco-2 {
    display: none;
  }

  .home ._deco-1,
  .home ._deco-2 {
    display: none;
  }
}

@media (max-width: 1300px) {
  .intro__content {
    margin: 0 auto;
  }

  .old-man__body {
    background-position-x: 40px, left;
  }

  .safety__items {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
  }

  .start ._deco-1 {
    display: none;
  }

  .news__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1245px) {
  .old-man__body {
    background-position-x: left;
  }

  .old-man ._deco-1 {
    display: none;
  }
}

@media (max-width: 1225px) {
  .old-man__content {
    margin: 0px 60px 0px auto;
  }
}

@media (max-width: 1180px) {
  .old-man__body {
    background-image: none;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .old-man__content {
    max-width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
  }

  .old-man ._deco-1,
  .old-man ._deco-2 {
    display: none;
  }
}

@media (max-width: 1160px) {
  .header-block__title {
    font-size: calc(20px + 12 * ((100vw - 320px) / 840));
  }

  .header-block__anth-lang {
    font-size: calc(18px + 2 * ((100vw - 320px) / 840));
  }

  .header-block__anth-lang {
    padding-top: calc(15px + 20 * ((100vw - 320px) / 840));
  }

  .header-block__anth-lang {
    margin-top: calc(15px + 20 * ((100vw - 320px) / 840));
  }

  .details-info {
    padding-bottom: calc(15px + 13 * ((100vw - 320px) / 840));
  }

  .details-info__btn {
    font-size: calc(12px + 2 * ((100vw - 320px) / 840));
  }

  ._start {
    width: calc(120px + 40 * ((100vw - 320px) / 840));
  }

  ._start {
    height: calc(120px + 80 * ((100vw - 320px) / 840));
  }

  ._deco-2::before {
    top: calc(-60px + -60 * ((100vw - 320px) / 840));
  }

  ._deco-2::after {
    bottom: calc(-60px + -60 * ((100vw - 320px) / 840));
  }

  .header__inner {
    height: calc(60px + 100 * ((100vw - 320px) / 840));
  }

  .intro__content {
    padding-bottom: calc(0px + 80 * ((100vw - 320px) / 840));
  }

  .intro__content {
    padding-left: calc(0px + 80 * ((100vw - 320px) / 840));
  }

  .intro__title {
    font-size: calc(22px + 42 * ((100vw - 320px) / 840));
  }

  .intro__subtitle {
    font-size: calc(18px + 14 * ((100vw - 320px) / 840));
  }

  .intro__bottom {
    bottom: calc(75px + 75 * ((100vw - 320px) / 840));
  }

  .intro__bottom::before,
  .intro__bottom::after {
    height: calc(35px + 53 * ((100vw - 320px) / 840));
  }

  .intro__bottom::before {
    bottom: calc(40px + 10 * ((100vw - 320px) / 840));
  }

  .intro__bottom::after {
    top: calc(40px + 10 * ((100vw - 320px) / 840));
  }

  .benefits {
    padding-top: calc(15px + 145 * ((100vw - 320px) / 840));
  }

  .benefits {
    padding-bottom: calc(15px + 345 * ((100vw - 320px) / 840));
  }

  .benefits__top {
    margin-bottom: calc(20px + 160 * ((100vw - 320px) / 840));
  }

  .benefits__items {
    -webkit-column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
       -moz-column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
            column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
  }

  .benefits__items {
    row-gap: calc(15px + 25 * ((100vw - 320px) / 840));
  }

  .benefits__bottom {
    margin-top: calc(20px + 95 * ((100vw - 320px) / 840));
  }

  .top-benefits__title {
    font-size: calc(20px + 12 * ((100vw - 320px) / 840));
  }

  .top-benefits__anth-lang {
    font-size: calc(18px + 2 * ((100vw - 320px) / 840));
  }

  .top-benefits__anth-lang {
    padding-top: calc(15px + 20 * ((100vw - 320px) / 840));
  }

  .top-benefits__anth-lang {
    margin-top: calc(15px + 20 * ((100vw - 320px) / 840));
  }

  .item-benefits__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 840));
  }

  .old-man__body {
    height: calc(600px + 272 * ((100vw - 320px) / 840));
  }

  .old-man__title {
    font-size: calc(20px + 12 * ((100vw - 320px) / 840));
  }

  .old-man__text:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 840));
  }

  .old-man__text p:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 840));
  }

  .old-man__author:not(:last-child) {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 840));
  }

  .home {
    padding-top: calc(15px + 145 * ((100vw - 320px) / 840));
  }

  .home {
    padding-bottom: calc(15px + 235 * ((100vw - 320px) / 840));
  }

  .home__top {
    margin-bottom: calc(20px + 145 * ((100vw - 320px) / 840));
  }

  .home__items {
    -webkit-column-gap: calc(0px + 160 * ((100vw - 320px) / 840));
       -moz-column-gap: calc(0px + 160 * ((100vw - 320px) / 840));
            column-gap: calc(0px + 160 * ((100vw - 320px) / 840));
  }

  .home__list-item:not(:last-child) {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 840));
  }

  .home__list-text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 840));
  }

  .home__details {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 840));
  }

  .safety {
    padding-bottom: calc(15px + 185 * ((100vw - 320px) / 840));
  }

  .safety__top {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 840));
  }

  .safety__item {
    padding: calc(20px + 20 * ((100vw - 320px) / 840));
  }

  .safety__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 840));
  }

  .safety__details {
    margin-top: calc(30px + 50 * ((100vw - 320px) / 840));
  }

  .start {
    padding-bottom: calc(15px + 145 * ((100vw - 320px) / 840));
  }

  .start__header {
    padding-top: calc(20px + 160 * ((100vw - 320px) / 840));
  }

  .start__header {
    padding-bottom: calc(20px + 340 * ((100vw - 320px) / 840));
  }

  .start__items {
    row-gap: calc(20px + 20 * ((100vw - 320px) / 840));
  }

  .start__items {
    -webkit-column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
       -moz-column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
            column-gap: calc(40px + 40 * ((100vw - 320px) / 840));
  }

  .start__list {
    margin-top: calc(20px + 15 * ((100vw - 320px) / 840));
  }

  .start__list-item:not(:last-child) {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 840));
  }

  .news__title {
    font-size: calc(20px + 20 * ((100vw - 320px) / 840));
  }

  .news__subtitle {
    font-size: calc(18px + 2 * ((100vw - 320px) / 840));
  }

  .news__subtitle:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 840));
  }

  .news__top:not(:last-child) {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 840));
  }

  .footer__inner {
    -webkit-column-gap: calc(0px + 80 * ((100vw - 320px) / 840));
       -moz-column-gap: calc(0px + 80 * ((100vw - 320px) / 840));
            column-gap: calc(0px + 80 * ((100vw - 320px) / 840));
  }

  .footer__inner {
    margin-top: calc(30px + 50 * ((100vw - 320px) / 840));
  }

  .footer__inner {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / 840));
  }

  .footer__main {
    padding-top: calc(30px + 130 * ((100vw - 320px) / 840));
  }

  .footer__main {
    padding-bottom: calc(30px + 130 * ((100vw - 320px) / 840));
  }
}

@media (max-width: 1130px) {
  .footer__right {
    display: none;
  }
}

@media (max-width: 992px) {
  .intro::before {
    background-position: center;
  }

  .intro__content {
    max-width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro ._deco-1 span {
    width: 100px;
    height: 70px;
  }

  .safety__inner::after {
    display: none;
  }

  .start__bottom {
    margin-top: 15px;
  }

  .news ._deco-1 {
    display: none;
  }
}

@media (max-width: 768px) {
  ._deco-1,
  ._deco-2 {
    display: none !important;
  }

  .old-man__author::after {
    display: none;
  }

  .footer__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: initial;
       -moz-column-gap: initial;
            column-gap: initial;
    row-gap: 30px;
  }
}

@media (max-width: 700px) {
  .news__items {
    row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .news__item:first-child .news__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__item:nth-child(6) .news__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item .news__body {
    padding: 0 15px;
    max-width: 100%;
  }

  .news__item:last-child .news__body {
    padding: 0;
    max-width: initial;
  }

  .news__content .news__subtitle,
  .news__content .news__date {
    color: #000;
  }

  .news__content {
    max-width: 100%;
    position: static;
    padding: 0 15px;
    margin: 30px 0px 30px 0px;
  }
}

@media (max-width: 600px) {
  .home__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
  }
}

@media (max-width: 480px) {
  .header__inner {
    -ms-grid-columns: 1fr 60px;
    grid-template-columns: 1fr 60px;
  }

  .header__social {
    display: none;
  }
}

@media (max-width: 440px) {
  .details-info__btn::after {
    display: none;
  }

  .details-info__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 380px) {
  ._logo {
    max-width: 100%;
  }
}

@media (max-height: 650px) {
  .intro__content {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro ._deco-1,
  .intro ._deco-2 {
    display: none;
  }
}

@media (max-height: 430px) {
  .intro__content {
    display: none;
  }
}

@media (max-height: 750px) {
  .intro__bottom::before,
  .intro__bottom::after {
    height: 50px;
  }

  .intro__bottom {
    bottom: 120px;
  }
}

@media (max-height: 530px) {
  .intro__bottom::before,
  .intro__bottom::after {
    height: 35px;
  }

  .intro__bottom {
    bottom: 80px;
  }
}

@media (max-height: 460px) {
  .intro__bottom::before,
  .intro__bottom::after {
    display: none;
  }
}

@media (max-height: 600px) {
  .intro__bottom {
    bottom: 95px;
  }
}

@media (max-height: 850px) {
  .intro ._deco-2::before {
    top: -70px;
  }

  .intro ._deco-2::after {
    bottom: -70px;
  }
}

@media (max-height: 850px) and (max-height: 750px) {
  .intro ._deco-2::before,
  .intro ._deco-2::after {
    display: none;
  }
}